<div class="padding">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <strong>Credit Card</strong>
          <small>enter your card details</small>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Amount</label>
                <input class="form-control" min="0" id="name" type="number" placeholder="Enter your amount">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="ccnumber">Credit Card Number</label>
                <div class="input-group">
                  <input class="form-control" id="cardNumber" type="text" placeholder="0000 0000 0000 0000" autocomplete="email">
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="mdi mdi-credit-card"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-sm-4">
              <label for="ccmonth">Month</label>
              <input class="form-control" id="ccmonth" type="text" placeholder="MM">
            </div>
            <div class="form-group col-sm-4">
              <label for="ccyear">Year</label>
              <input class="form-control" id="ccyear" type="text" placeholder="YY">
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="cvv">CVV/CVC</label>
                <input class="form-control" id="cvv" type="text" placeholder="123">
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-success float-right" type="submit">
            <i class="mdi mdi-gamepad-circle"></i> Continue
          </button>
          <button class="btn btn-sm btn-danger" type="reset">
            <i class="mdi mdi-lock-reset"></i> Reset
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
